<div class="center jumbotron">
<!-- <div class="center jumbotron", style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;"> -->
  <h1>Instaclone</h1>
  
  <h2>友達の写真や動画をチェックしよう</h2>

  <ul>
    <li><%= link_to "Facebook Login!", '#', class: "btn btn-lg btn-primary" %></li>
    or
    <li><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-default" %></li>
  </ul>
</div>
  
<div>
  <h2>アカウントをお持ちですか？<%= link_to "ログインする", login_path, class: "btn btn-link" %></h2>
</div>
